body {
  background-color: #1a202c;
  font-family: 'Montserrat';
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s, transform 0.2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translateY(-100px);
}